@import "~bootstrap/scss/bootstrap";

.top-wrap{
  background-image: url("./img/newjersey2.jpeg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}
.header{
  background: #08202c;
  color: white;
  padding: 20px 20px;
  text-align: center;
 
}

@media screen and (max-width: 600px) {
  .header{
    float: right;
    display: block;
  }
}
body{
  font-family: "AvenirNext LT Pro",Helvetica,sans-serif;
  line-height: 1.5;
}

.nav-bar{
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  a{
    color: black;
    text-decoration: none;
  }
  .nav-item{
    padding: 10px 30px;
    cursor: pointer;
  }
}

.personal-description{
  display: flex;
  margin-top: 30px;
  p{
    margin-top: 0;
    line-height: 1.8;
    font-size: 14px;
    color: #777777;
  }
  .personal-left {
    padding: 0 20px;
    width: 30%;
    p{
      margin: 0;
      overflow-x: auto;
    }
    .personal-img{
      width: 100%;
    }
  }
  .personal-right{
    padding: 0 60px;
  }
}

.businessCards{
  margin-top: 60px;
  display: flex;
  img{
    width: 50%;
  }
}
.footer{
  background: #08202c;
  text-align: center;
  padding: 45px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}
.reviews{
  display: flex;  
  .reviewWrapper{
    border: 1px solid lightgray;
    padding: 20px;
    width: 30%;
    margin: 10px;
    .reviewLine1{
      display: inline-block;
    }
    .reviewTitle{
      font-weight: bold;
      padding: 10px;
      
      font-size: 1.17em;
      font-weight: 400;
      
      
      
    }
    .reviewContent{
      font-style: italic;
      
    }
    .reviewImg{
      border: 1px solid lightgray;
      padding:5px;
      float: left;
      width: 40%;
    }
  }
}


